<div class="chat_header">
  <div class="room">テストルーム１</div>
  <div class="room_exit">
    <a href="">チャットを終了する</a>
  </div>
</div>

<div class="chat_area">
  <div class="messages">
    <div class="name_time">
      <div class="user_name">Tom</div>
      <div class="chat_time">2020/01/01() 12:34:56</div>
    </div>
    <div class="chat_message">hello</div>
  </div>
  <div class="messages">
    <div class="name_time">
      <div class="user_name">Tom</div>
      <div class="chat_time">2020/01/01() 12:34:56</div>
    </div>
    <div class="chat_message">hello</div>
  </div>
</div>

<div class="post_area">
  <div class="form">
    <input class="form_message" placeholder= "type a message">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="post_btn" type="submit" value= "送信">
</div>