<div class="chat_header">
  <div class="room">テストルーム１</div>
  <div class="room_exit">
    <a href="">チャットを終了する</a>
  </div>
</div>

<div class="chat_area">
  <div class="messages">
    <div class="name_time">
      <div class="user_name">Tom</div>
      <div class="chat_time">2020/01/01() 12:34:56</div>
    </div>
    <div class="chat_message">hello</div>
  </div>
  <div class="messages">
    <div class="name_time">
      <div class="user_name">Tom</div>
      <div class="chat_time">2020/01/01() 12:34:56</div>
    </div>
    <div class="chat_message">hello</div>
  </div>
</div>


  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
