<div class="messages">
  <div class="name_time">
    <div class="user_name">
      <%= message.user.name %>
    </div>

    <div class="chat.time">
      <%= message.created_at%>
    </div>
  </div>
    <div class="chat.message">
      <%= message.content%>
    </div>
</div>