<div class="messages">
  <div class="name_time">
    <div class="user_name">
      <%= message.user.name %>
    </div>

    <div class="chat.time">
      <%= l message.created_at%>
    </div>
  </div>
    <div>
      <div class="chat.message">
        <%= message.content%>
      </div>
      <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
    </div>
</div>