<div class="name_area">
  <div class="name_btn">
    <a href="">太郎</a>
  </div>
  <div class="create_btn">
   <a href="">チャットを作成する</a>
  </div>
</div>
<div class="room_area">
  <div class="room_name">
    <a href="">テストルーム１</a>
  </div>
    <div class="room_name">
    <a href="">テストルーム２</a>
  </div>
</div>