<div class="name_area">
  <div class="name_btn">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create_btn">
   <%= link_to 'チャットを作成する', new_room_path %>
  </div>
</div>
 <div class="room_area">
  <% current_user.rooms.each do |room|%>
    <div class="room">
      <div class="room_name">
        <%= link_to room.name, room_messages_path(room) %>
    </div>
   </div>
  <% end %>
</div>